<?xml version="1.0"?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/common_inertia.xacro"/>
    <!-- 机器人的IMU部件，惯性测量传感器 -->
    <xacro:macro name="caster_xacro" params="caster_name xyz">
        <link name="${caster_name}_link">
            <!-- 外观描述 -->
            <visual>
                <!-- 1. 原点沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="1.57079 0.0 0.0"/>
                <!-- 2. 几何形状 -->
                <geometry>
                    <sphere radius="0.016"/>
                </geometry>
                <!-- 3. 材质和颜色 -->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>
            </visual>

            <collision>
                <!-- 1. 原点沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="1.57079 0.0 0.0"/>
                <!-- 2. 几何形状 -->
                <geometry>
                    <sphere radius="0.016"/>
                </geometry>
                <!-- 3. 材质和颜色 -->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>
            </collision>

            <xacro:sphere_inertia m="0.05" r="0.016"/>
        </link>

        <!-- 机器人的关节，用于组合机器人的部件 -->
        <joint name="${caster_name}_joint" type="fixed">
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="${caster_name}_link"/>
        </joint>

        <!-- gazebo描述 -->
        <gazebo reference="${caster_name}_link">     <!-- 参考部件="..." -->
            <mu1 value="0.0"/>                     <!-- 切向摩擦系数 -->
            <mu2 value="0.0"/>                     <!-- 法向摩擦系数 -->
            <kp value="1000000000.0"/>              <!-- 刚度系数 -->
            <kd value="1.0"/>                       <!-- 阻尼系数 -->
        </gazebo>
    </xacro:macro>
</robot>