<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/common_inertia.xacro"/>
    <!-- 2. 机器人的IMU部件，惯性测量传感器 -->
    <xacro:macro name="wheel_xacro" params="wheel_name xyz">
        <link name="${wheel_name}_link">
            <!-- 外观描述 -->
            <visual>
                <!-- 1. 原点沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="1.57079 0.0 0.0"/>
                <!-- 2. 几何形状 -->
                <geometry>
                    <!-- 圆柱体 -->
                    <cylinder radius="0.032" length="0.04"/>
                </geometry>
                <!-- 3. 材质和颜色 -->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>
            </visual>

            <collision>
                <!-- 1. 原点沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="1.57079 0.0 0.0"/>
                <!-- 2. 几何形状 -->
                <geometry>
                    <!-- 圆柱体 -->
                    <cylinder radius="0.032" length="0.04"/>
                </geometry>
                <!-- 3. 材质和颜色 -->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>
            </collision>

            <!-- 惯性描述 -->
            <xacro:cylinder_inertia m="0.05" r="0.032" h="0.04"/>
        </link>

        <!-- 机器人的关节，用于组合机器人的部件 -->
        <joint name="${wheel_name}_joint" type="continuous">
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="${wheel_name}_link"/>
            <axis xyz="0.0 1.0 0.0"/>
        </joint>

        <!-- gazebo描述 -->
        <gazebo reference="${wheel_name}_link">     <!-- 参考部件="..." -->
            <mu1 value="20.0"/>                     <!-- 切向摩擦系数 -->
            <mu2 value="20.0"/>                     <!-- 法向摩擦系数 -->
            <kp value="1000000000.0"/>              <!-- 刚度系数 -->
            <kd value="1.0"/>                       <!-- 阻尼系数 -->
        </gazebo>

    </xacro:macro>
</robot>