<?xml version="1.0"?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/common_inertia.xacro"/>
    <xacro:macro name="laser_xacro" params="xyz">
        <!-- 支撑杆 -->
        <link name="laser_cylinder_link">
            <!-- 外观描述 -->
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
               
                <geometry>
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>

                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>

            <!-- 碰撞描述 -->
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <geometry>
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>

                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </collision>

            <!-- 惯性描述 -->
            <xacro:cylinder_inertia m="0.05" r="0.01" h="0.10"/>
        </link>

        <!-- 本体 -->
        <link name="laser_link">
            <!-- 外观描述 -->
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>

                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>

            <!-- 碰撞描述 -->
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>

                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </collision>

            <!-- 惯性描述 -->
            <xacro:cylinder_inertia m="0.10" r="0.02" h="0.02"/>
        </link>

        <!-- 机器人的关节，用于组合机器人的部件 -->
        <joint name="laser_joint" type="fixed">
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
            <parent link="laser_cylinder_link"/>
            <child link="laser_link"/>
            <!-- <axis xyz="0.0 0.0 0.0"/>
            <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/> -->
        </joint>

        <joint name="laser_cylinder_joint" type="fixed">
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="laser_cylinder_link"/>
            <!-- <axis xyz="0.0 0.0 0.0"/>
            <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/> -->
        </joint>

        <!-- gazebo描述 -->
        <!-- 支撑杆描述 -->
        <gazebo reference="laser_cylinder_link">
            <material>
                Gazebo/Black
            </material>
        </gazebo>

        <!-- 激光描述 -->
        <gazebo reference="laser_link">
            <material>
                Gazebo/Black
            </material>
        </gazebo>
    </xacro:macro>
</robot>