<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_sensor_plugin">
        <!-- 激光功能 -->
        <gazebo reference="laser_link">
            <!-- 传感器描述 -->
            <sensor name="laserscan" type="ray">
                <!-- 插件配置 -->
                <plugin name="laserscan" filename="libgazebo_ros_ray_sensor.so">
                    <!-- ros配置 -->
                    <ros>
                        <namespace>/</namespace>
                        <remapping>~/out:=scan</remapping>              <!-- 将插件默认话题重映射为/scan话题 -->
                    </ros>
                    <output_type>sensor_msgs/LaserScan</output_type>    <!-- 指定发布的消息类型 -->
                    <frame_name>laser_link</frame_name>                 <!-- 指定坐标系 -->
                </plugin>

                <!-- 基础设置 -->
                <always_on>true</always_on>     <!-- 是否常启 -->
                <visualize>true</visualize>     <!-- 是否可视 -->
                <update_rate>5</update_rate>    <!-- 更新频率 -->
                <pose>0 0 0 0 0 0</pose>        <!-- x y z roll pitch yaw -->

				<!-- 激光传感器配置 -->
                <ray>
                    <!-- 配置扫描范围 -->
                    <scan>
                        <!-- 配置水平方向扫描参数 -->
                        <horizontal>
                            <samples>360</samples>              <!-- 采样点 -->
                            <resolution>1.000000</resolution>   <!-- 分辨率 -->
                            <min_angle>0.000000</min_angle>     <!-- 起始角度 -->
                            <max_angle>6.280000</max_angle>     <!-- 结束角度 -->
                        </horizontal>
                    </scan>

                    <!-- 配置扫描距离 -->
                    <range>
                        <min>0.120000</min>                 <!-- 此处距离表示[0.12, 8]范围内都是激光扫描的区域 -->
                        <max>8.0</max>                      <!-- 也就是说在[0, 0.12), (8, +∞)都是激光的视野盲区 -->
                        <resolution>0.015000</resolution>
                    </range>

                    <!-- 配置噪声 -->
                    <noise>
                        <type>gaussian</type>   <!-- 使用高斯算法生成噪点 -->
                        <mean>0.0</mean>       <!-- 均值 -->
                        <stddev>0.01</stddev>   <!-- 标准差 -->
                    </noise>
                </ray>
            </sensor>
        </gazebo>

        <!-- IMU(惯性传感器)功能 -->
        <gazebo reference="imu_link">
            <!-- 传感器配置 -->
            <sensor name="imu_sensor" type="imu">
                <!-- 插件配置 -->
                <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
                    <!-- ros相关配置 -->
                    <ros>
                        <namespace>/</namespace>
                        <remapping>~/out:=imu</remapping>   <!-- 将话题设为imu -->
                    </ros>

                    <initial_orientation_as_reference>false</initial_orientation_as_reference>  <!-- "不"使用初始方向作为参考系 -->
                </plugin>

                <!-- 基础配置 -->
                <update_rate>100</update_rate>
                <always_on>true</always_on>

                <!-- 六轴噪声设置 -->
                <imu>
                    <!-- 角速度 -->
                    <angular_velocity>
                        <!-- roll -->
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </x>
                        <!-- pitch -->
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </y>
                        <!-- yaw -->
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </z>
                    </angular_velocity>

                    <!-- 线加速度 -->
                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </imu>
            </sensor>
        </gazebo>

        <!-- 摄像头 -->
        <gazebo reference="camera_link">
            <sensor type="depth" name="camera_sensor">
                <plugin name="depth_camera" filename="libgazebo_ros_camera.so">
                    <frame_name>camera_optical_link</frame_name>    <!-- 指定拍摄坐标系 -->
                </plugin>

                <always_on>true</always_on>
                <update_rate>10</update_rate>

                <camera name="camera">
                    <horizontal_fov>1.5009831567</horizontal_fov>   <!-- 设置水平视场角 -->

                    <image>
                        <width>800</width>
                        <height>600</height>
                        <format>R8G8B8</format>
                    </image>

                    <!-- 模拟镜头畸变 -->
                    <distortion>        
                        <k1>0.0</k1>
                        <k2>0.0</k2>
                        <k3>0.0</k3>
                        <p1>0.0</p1>
                        <p2>0.0</p2>
                        <center>0.5 0.5</center>
                    </distortion>
                </camera>
            </sensor>
        </gazebo>

   </xacro:macro>
</robot>